COS_API_KEY_ID="your_ibm_cos_api_key_here"
COS_INSTANCE_CRN="crn:v1:bluemix:public:cloud-object-storage:global:a/your_account_id:your_instance_id::"
COS_ENDPOINT="https://s3.eu-de.cloud-object-storage.appdomain.cloud"
BUCKET_NAME="your_bucket_name_here"